net "mclk" loc=l14;
net "ceas" loc=a8;





















































































































































































	
