net "led_verificare" loc=L14;
net "clk" loc=a8;

NET "SEL_COL(1)" LOC=n15;
NET "SEL_COL(0)" LOC=j16;
NET "SEL_FORM(1)" LOC=k16;
NET "SEL_FORM(0)" LOC=k15;
net "RED" LOC=t14;
NET "GREEN" LOC=r13;
NET "BLUE" LOC=t13;
NET "HS" LOC=r12;
NET "VS" LOC=t12;
net "maneta1" loc=n16;
net "maneta2" loc=m15;






















































































































































































	
