net "led_verificare" loc=l14;
net "clk" loc=a8;
net "RED" LOC=p16;
NET "GREEN" LOC=p15;
NET "BLUE" LOC=t7;
NET "HS" LOC=r5;
NET "VS" LOC=n15;
NET "SEL_COL(1)" LOC=n15;
NET "SEL_COL(0)" LOC=j16;
NET "SEL_FORM(1)" LOC=k16;
NET "SEL_FORM(0)" LOC=k15;






















































































































































































	
