net "clk" loc=V10;
net "RED" LOC=v7;
NET "GREEN" LOC=T6;
NET "BLUE" LOC=t7;
NET "HS" LOC=N6;
NET "VS" LOC=P7;
NET "SEL_COL(1)" LOC=V8;
NET "SEL_COL(0)" LOC=T5;
NET "SEL_FORM(1)" LOC=N8;
NET "SEL_FORM(0)" LOC=U8;
